{% extends "site_base.html" %}

{% load i18n %}

{% block extratopbar %}
<div id="leftbutton"><a href="{% url logout %}" id="logoutbutton">Logout</a></div>
{% endblock %}

{% block content %}

      {% include "guestlist/name_search.html" %}

      <span class="graytitle">Search guests</span>
      <ul class="pageitem">
        
        <form action="{% url match_first_initial %}" method="post">
          <li class="form first-child">
            <img alt="list" src="{{ MEDIA_URL }}images/thumbs/contacts.png" />
            <select name="initial"> 
              <option value="0">Last names</option> 
              {% for initial in initials %}
              <option value="{{ initial }}">{{ initial }}</option> 
              {% endfor %}
            </select>
            <span class="arrow"></span>
          </li>

          <li class="form">
            <input name="Submit input" type="submit" value="Find last names" />
          </li>
        </form>

      </ul>

{% endblock %}
