{% extends "site_base.html" %}

{% load i18n %}

{% block extratopbar %}
      <div id="leftnav"><a href="{% url home %}"><img alt="home" src="{{ MEDIA_URL }}images/home.png" /></a></div>
{% endblock %}

{% block content %}

{% if result == "Failure" %}

<span class="graytitle">Error</span>
<ul class="form pageitem arrived">
  <li>
    <span class="name"><b><a href="{% url guestlist_show_by_id guest.id %}">{{ guest.name }}</a></b> {{ reason|safe }}</span>
  </li>
</ul>

{% include "guestlist/name_search.html" %}

{% else %}

{% include "guestlist/guest_status.html" %}
{% include "guestlist/name_search.html" %}

{% endif %}

{% endblock %}
