{% extends "base.html" %}

{% load i18n %}

{% block extratopbar %}
  {{ event }}
{% endblock %}

{% block content %}

  <span class="graytitle">Search</span>
    <form class="login" id="name_submit" method="POST" action="/api/names/">
      <ul class="pageitem">
        <li class="form"><input name="LName" id="searchBox" placeholder="Last Name" type="text" /></li>
        <li class="form"><input name="Submit input" id="submitButton" type="submit" value="Show guest info" /></li>
        <li class="form"><input name="Reset" type="reset" value="Clear" /></li>
      </ul>
    </form>
  </span>

{% endblock %}
